/* frontend/css/styles.css */

/* Общие стили */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    color: #343a40;
}

.table {
    background-color: #ffffff;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.card {
    background-color: #ffffff;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: none;
}

#alertPlaceholder {
    margin-bottom: 20px;
}
